{# filepath: templates/cart/confirmation.twig #}
{% extends "layout.twig" %}

{% block content %}
    <h1>Confirmar orden</h1>
    <p>{{ message }}</p>
    <a href="{{basePath}}/store">volver a la tienda</a>
{% endblock %}