{% extends "Admin/layout.twig" %}
{% block content %}

	<div class="container mt-4">
		<h2>{{title}}</h2>
		<p>{{description}}</p>
		<a class="btn btn-primary mb-3" data-bs-action="new">Nuevo</a>
		<table id="inventoryTable" class="table table-striped table-bordered" style="width:100%">
		</table>
	</div>
	{% include "Admin/_modal_form.twig" %}
	<script>
		    document.addEventListener('DOMContentLoaded', function() {
				const urlCrud = "{{basePath}}/admin/inventory/crud";
		        createDatatableWithAjax('#inventoryTable',urlCrud,['view','edit','delete'])
				handleAjaxFormSubmit('#modalForm form', function(data) {
					table = $('#inventoryTable').DataTable();
					table.ajax.reload(null, false);// false = mantener paginación actual
				});

				$(document).on('click', 'a[data-bs-action="new"]', function() {
					console.log('click en nuevo');
					let data = retrieveDataById(0, urlCrud);
					console.log(data);
					createFormModal(data,'POST',urlCrud);
					$('#modalForm').modal('show');
				});

				$(document).on('click', 'a[data-bs-action="view"]', function() {
					let row = $(this).closest('tr');
					let id = row.find('td:first').text();
	
					let data = retrieveDataById(id, urlCrud);
					createFormModal(data,'GET',urlCrud)
					$('#modalForm').modal('show');
				});
	
	
				$(document).on('click', 'a[data-bs-action="edit"]', function() {
					//otra forma de obtener el id de la fila?
					let tid = $(this).data('id');
					console.log('tid: ', tid);
					
					let row = $(this).closest('tr');
					let id = row.find('td:first').text();
					
					let data = retrieveDataById(id, urlCrud);
					createFormModal(data,'PATCH',urlCrud)
					$('#modalForm').modal('show');
				});
		    });
	</script>
{% endblock %}
