{% extends "Admin/layout.twig" %}
{% block content %}
	<div class="container mt-4 mb-4">
		<h2>{{title}}</h2>
		<p>{{description}}</p>
		<a class="btn btn-primary mb-3" data-bs-action="new" data-bs-toggle="modal" data-bs-target="#modalCategoria">Nueva Categoría</a>
		<table id="categoriesTable" class="table table-striped table-bordered" style="width:100%">
		</table>
	</div>
	{% include "Admin/Categories/_modal_form.twig" with {
		modal_title: 'Editar Categoría',
		category: item,
		readonly: false
	} %}
	<script>
		document.addEventListener('DOMContentLoaded', function() {

			createDatatableWithAjax('#categoriesTable','{{basePath}}/admin/categories/crud',['read','edit'])
			
			handleAjaxFormSubmit('#modalCategoria form', function(data) {
				table = $('#categoriesTable').DataTable();
				table.ajax.reload(null, false);// false = mantener paginación actual
			});
			
			$(document).on('click', 'a[data-bs-action="read"]', function() {
				console.log('Read action clicked');
				let row = $(this).closest('tr');
				let id = row.find('td:first').text();
				let id = row.find('td:')
			});

			$(document).on('click', 'a[data-bs-action="new"]', function() {
				console.log('New action clicked');
				$('#modalCategoria').find('form')[0].reset();
				$('#modalCategoria').find('#operation').val('create');
				$('#modalCategoria .modal-title').text('Nueva Categoría');
				$('#modalCategoria').modal('show');
			});

			$(document).on('click', 'a[data-bs-action="edit"]', function() {
				console.log('Edit action clicked');
				$('#modalCategoria').find('form')[0].reset();
				let row = $(this).closest('tr');
				let id = row.find('td:first').text();
				let name = row.find('td:nth-child(2)').text();
				let description = row.find('td:nth-child(3)').text();
				
				$('#modalCategoria').find('#id').val(id);
				$('#modalCategoria').find('#operation').val('edit');
				$('#modalCategoria').find('#name').val(name);
				$('#modalCategoria').find('#description').val(description);
				$('#modalCategoria .modal-title').text('Editar Categoría');

				$('#modalCategoria').modal('show');
			});
		});
	</script>
{% endblock %}
