{% extends "Admin/layout.twig" %}
{% block content %}
	<div class="container mt-4 mb-4">
		<h2>{{title}}</h2>
		<p>{{description}}</p>
		<a class="btn btn-primary mb-3" data-bs-action="new">Nueva Categoría</a>
		<table id="categoriesTable" class="table table-striped table-bordered" style="width:100%">
		</table>
	</div>
	{% include "Admin/Categories/_modal_form.twig" with {
		modal_title: 'Editar Categoría',
		category: item,
		readonly: false
	} %}
	 <script>
			document.addEventListener('DOMContentLoaded', function() {
				const urlCategories = '{{basePath}}/admin/categories/crud';
				createDatatableWithAjax('#categoriesTable',urlCategories,['view','edit'])
				
				handleAjaxFormSubmit('#modalForm form', function(data) {
					table = $('#categoriesTable').DataTable();
					table.ajax.reload(null, false);// false = mantener paginación actual
				});

				$(document).on('click', 'a[data-bs-action="view"]', function() {
					let operation = $(this).data('bs-action');
					let row = $(this).closest('tr');
					let id = row.find('td:first').text();
	
					let data = retrieveDataById(id, urlCategories);
					createFormModal(data,operation,urlCategories)
					
					$('#modalForm').modal('show');
				});
	
				$(document).on('click', 'a[data-bs-action="new"]', function() {
					let operation = $(this).data('bs-action');
					let data = retrieveDataById(0, urlCategories);
					createFormModal(data,operation,urlCategories);
					$('#modalForm').modal('show');
				});
	
				$(document).on('click', 'a[data-bs-action="edit"]', function() {
					let operation = $(this).data('bs-action');
					let row = $(this).closest('tr');
					let id = row.find('td:first').text();
					let data = retrieveDataById(id, urlCategories);
					createFormModal(data,operation,urlCategories)

					$('#modalForm').modal('show');
				});
			});
		</script>
{% endblock %}
