{% extends "layout.twig" %}

{% block content %}
    
    <section class="section-initial" style="background-image: url('{{basePath}}/public/assets/img/imgg-gi3-3qmuecbo.png');">
        <div class="cover-image"></div>
        <div class="section-content">
            <h1>Brillo eterno</h1>
            <p>Bienvenido a un mundo donde la elegancia se encuentra con la maestría artesanal. Descubra nuestra colección de joyas exclusivas, cada pieza meticulosamente diseñada para realzar su esplendor y sofisticación.</p>
            <span class="icon-cart"><a class='text-white' href="{{basePath}}/store"  class="btn">ir a la tienda</a></span>
        </div>
    </section>
{% endblock %}

